In [27]:
import pandas as pd

In [28]:
df = pd.read_json('bays29_population40.json')

In [29]:
df_expanded = df.explode('tspOutputs')

In [30]:
df_expanded = pd.concat(
    [df_expanded.drop(columns='tspOutputs'), df_expanded['tspOutputs'].apply(pd.Series)],
    axis=1
)

In [31]:
grouped = df_expanded.groupby(['mutationType', 'crossoverType', 'selectionType'])

In [32]:
summary_stats = grouped['distance'].describe()

In [33]:
summary_stats.groupby(level='mutationType').agg(
    mean=('mean', 'mean'),
    std=('std', 'mean'),
    p25=('25%', 'mean'),
    p50=('50%', 'mean'),
    p75=('75%', 'mean'),
    max=('max', 'mean')
)

,mean,std,p25,p50,p75,max
mutationType,,,,,,
ADJACENT_SWAP,3370.949778,243.035787,3208.027778,3367.500000,3534.750000,4114.555556
INSERTION,2927.602333,170.314320,2813.277778,2924.277778,3042.694444,3500.111111
INVERSION,2819.195556,137.239120,2726.888889,2816.166667,2910.305556,3260.000000
SWAP,3051.887778,188.798091,2923.250000,3050.944444,3180.111111,3691.111111

In [34]:
summary_stats.groupby(level='crossoverType').agg(
    mean=('mean', 'mean'),
    std=('std', 'mean'),
    p25=('25%', 'mean'),
    p50=('50%', 'mean'),
    p75=('75%', 'mean'),
    max=('max', 'mean')
)

,mean,std,p25,p50,p75,max
crossoverType,,,,,,
OX1,2809.150583,120.950811,2727.354167,2802.250000,2885.750000,3256.166667
PMX,3140.899750,201.092242,3007.375000,3142.500000,3278.708333,3770.750000
SINGLE_POINT,3177.176250,232.497435,3018.854167,3174.416667,3336.437500,3897.416667

In [35]:
summary_stats.groupby(level='selectionType').agg(
    mean=('mean', 'mean'),
    std=('std', 'mean'),
    p25=('25%', 'mean'),
    p50=('50%', 'mean'),
    p75=('75%', 'mean'),
    max=('max', 'mean')
)

,mean,std,p25,p50,p75,max
selectionType,,,,,,
RANK,2591.782000,164.594073,2473.854167,2582.750000,2700.937500,3191.083333
ROULETTE,3857.153833,204.758515,3730.208333,3871.583333,4003.979167,4364.083333
TOURNAMENT,2678.290750,185.187900,2549.520833,2664.833333,2795.979167,3369.166667

In [39]:
lowest_metrics = {
    "lowest mean": summary_stats.loc[summary_stats['mean'].idxmin()],
    "lowest std": summary_stats.loc[summary_stats['std'].idxmin()],
    "lowest 25%": summary_stats.loc[summary_stats['25%'].idxmin()],
    "lowest 50%": summary_stats.loc[summary_stats['50%'].idxmin()],
    "lowest 75%": summary_stats.loc[summary_stats['75%'].idxmin()],
    "lowest max": summary_stats.loc[summary_stats['max'].idxmin()],
}

print("Lowest Metrics")
for metric, row in lowest_metrics.items():
    print(f"\n{metric}:\n{row}")

Lowest Metrics

lowest mean:
count    1000.000000
mean     2109.583000
std        68.524921
min      2020.000000
25%      2061.000000
50%      2094.000000
75%      2149.000000
max      2449.000000
Name: (INVERSION, OX1, RANK), dtype: float64

lowest std:
count    1000.000000
mean     2109.583000
std        68.524921
min      2020.000000
25%      2061.000000
50%      2094.000000
75%      2149.000000
max      2449.000000
Name: (INVERSION, OX1, RANK), dtype: float64

lowest 25%:
count    1000.000000
mean     2109.583000
std        68.524921
min      2020.000000
25%      2061.000000
50%      2094.000000
75%      2149.000000
max      2449.000000
Name: (INVERSION, OX1, RANK), dtype: float64

lowest 50%:
count    1000.000000
mean     2109.583000
std        68.524921
min      2020.000000
25%      2061.000000
50%      2094.000000
75%      2149.000000
max      2449.000000
Name: (INVERSION, OX1, RANK), dtype: float64

lowest 75%:
count    1000.000000
mean     2109.583000
std        68.524921
min      2020.000000
25%      2061.000000
50%      2094.000000
75%      2149.000000
max      2449.000000
Name: (INVERSION, OX1, RANK), dtype: float64

lowest max:
count    1000.000000
mean     2109.583000
std        68.524921
min      2020.000000
25%      2061.000000
50%      2094.000000
75%      2149.000000
max      2449.000000
Name: (INVERSION, OX1, RANK), dtype: float64